@import '../variables';

@media (max-width: 410px) {
  // Favorite
  .favorites {
    .container {
      .favorites-content {
        .favorite-item {
          width: 75vw;
          padding: 1rem 1rem 1rem 0;
          
          .favorite-item--title {
            img {
              width: 7rem;
              height: 7rem;
            }
            .favorite_item__name {
              width: 7rem;
              font-size: 1em;
            }
          }
          .favorite-item--more {
            .favorite_item__price {
              p {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
  
  // Cart
  .cart {
    .container {
      .cart-content {
        .cart-items {
          .cart-item {
            padding: 0;
            
            .cart-item--title {

              img {
                width: 7rem;
                height: 7rem;
              }
              
              .cart_item__name {
                width: 8rem;
                font-size: 7px;
              }
            }
            .cart-item--more {
              display: block;
              text-align: center;

              .cart_item__price {
                sub {
                  display: none;
                }
              }

              .cart-item--amount {
                width: 7.2rem;
                margin: 1rem auto;
                
                .cart-item--buttons {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}