.favorites {
  min-height: 80vh;
  
  .container {
    padding: 3rem 1rem;

    .favorites-content {
      
      .order-block {
        margin: 3rem 0;
        padding: 1rem;

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        border: 1px solid var(--gray1200);
        background-color: var(--whiteF9);

        .search-block {
          height: 2.5rem;
          width: 18rem;
          margin: .5rem .5rem;
        
          display: flex;
          position: relative;
          align-items: center;
          
          input {
            height: 2.5rem;
            width: 18rem;
            padding: 0 0 0 20px;
            margin: 0 0 0 10px;
            
            border: 1px solid #CCC;
            outline: none;
          
            background-color: #FFF;
            color: var(--gray700);
            font-size: 1.25em;

            &::placeholder {
              border: 0;
            }
          }
        }

        .total__items {
          height: 20px;
          margin: .5rem .5rem;
          
          display: flex;
          align-items: center;

          border-bottom: 1px solid var(--dark-main-color);

          span {
            font-weight: 500;
          }
        }

        .button-close {
          margin: .5rem .5rem;
          
          display: flex;
          align-items: center;

          font-size: .9em;

          span {
            margin: 0 .3rem;
            
            font-size: 2rem;
          }
        }
      }
      
      .favorites__title {
        font-size: 1.4em;
        font-weight: 500;
      }

      .favorite-item {
        height: 13rem;
        padding: 1rem 4rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        border: 1px solid var(--gray1200);

        position: relative;

        &:hover {
          .button-delete {
            display: block;
          }
        }
        
        .button-delete {
          display: none;
          font-size: 1.6em;
          position: absolute;
          top: 5%;
          right: 1%;
        }
        
        .favorite-item--title {
          display: flex;
          
          img {
            width: 10rem;
            height: 10rem;
          }

          .favorite_item__name {
            width: 20rem;
            padding-top: 1rem;
            
            font-size: 1.3em;
            letter-spacing: 1.1px;
          }
        }

        .favorite-item--more {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;

          .favorite_item__price {
            font-size: 1.5em;
            flex-wrap: wrap;

            p {
              margin: 0;
            }

            sub {
              font-size: .7em;
              border-bottom: 1px solid var(--dark-main-color);
            }
          }
        }
      }
    }
  }
}

.empty-favorites {
  .container {
    padding: 2rem 1rem;

    .favorites-content {
      margin: 2rem 0;
      padding: 4rem 2rem;

      text-align: center;
      
      border: 1px solid var(--gray1200);

      .favorites__title {
        font-size: 2em;
      }

      .favorites__subtitle {
        font-size: 1.3em;
      }

      .favorites__text {
        margin: 4rem 0;
        
        font-size: 1.5em;
      }
    }
  }
}