footer {
  width: 100%;
  height: 200px;

  position: absolute;
  
  background-color: var(--gray600);
  
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 0;

    .footer__left_block {
      height: 200px;

      padding-top: 40px;

      h6 {
        color: var(--gray100);
        font-weight: 400;
        font-size: 16px;
      }
    }

    .privacy-policy {
      display: none;
    }
    
    .footer__middle_block {
      padding-top: 30px;
      
      .privacy-policy {
        margin: 0 0 20px 0;
  
        display: none;
        align-items: center;
        cursor: pointer;
  
        span {
          margin: 0 0 0 10px;
  
          color: var(--white);
  
          transition: .3s;
        }
  
        svg {
          margin-left: 10px;
          
          transition: .3s;
        }
  
        &:hover {
          svg {
            path {
              fill: var(--white);
            }
          }
          span {
            color: var(--light-main-color);
          }
        }
      }
      
      
      .middle_block__item {
        margin: 0 0 20px 0;

        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          margin: 0 0 0 10px;

          color: var(--white);

          transition: .3s;
        }

        svg {
          margin-left: 10px;
          
          transition: .3s;
        }

        &:hover {
          svg {
            path {
              fill: var(--white);
            }
          }
          span {
            color: var(--light-main-color);
          }
        }
      }
    }

    .footer__right_block {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;

      .right_block__item {
        right: 0;

        display: flex;
        position: absolute;
        align-items: center;
        cursor: pointer;
        
        span {
          margin: 10px;
          color: var(--white);

          transition: .3s
        }

        svg {
          margin-left: 10px;
          transition: .3s;
        }

        &:hover {
          svg {
            path {
              fill: var(--white);
            }
          }
          span {
            color: var(--light-main-color);
          }
        }
      }
    }
  }
}

.footer-b0 {
  bottom: 0;
}