* {
  --light-main-color: #56FFB8;
  --main-color: #34FFAA;
  --dark-main-color: #3DF1A6;

  --whiteFF: #FFFFFF;
  --whiteF9: #F9F9F9;
  --white: #EFEFEF;

  --gray1200: #CCC;
  --gray800: #888;
  --gray700: #777;
  --gray600: #666;
  --gray500: #555;
  --gray400: #444;
  --gray300: #333;
  --gray200: #222;
  --gray100: #111;

  --screen-xl: 1200px;
  --screen-lg: 992px;
  --screen-md: 768px;
  --screen-sm: 576px;
}
